

#include <Windows.h>
#include <NtVerP.h>

#undef VER_PRODUCTMAJORVERSION
#undef VER_PRODUCTMINORVERSION
#undef VER_PRODUCTBUILD
#undef VER_PRODUCTBUILD_QFE
#undef VER_PRODUCTNAME_STR
#undef VER_COMPANYNAME_STR

#define VER_PRODUCTMAJORVERSION  6
#define VER_PRODUCTMINORVERSION  14
#define VER_PRODUCTBUILD         10
#define VER_PRODUCTBUILD_QFE     0
#define VER_PRODUCTNAME_STR      "Vivante GC Graphics Core"
#define VER_COMPANYNAME_STR      "Vivante Corporation"
#define VER_LEGALCOPYRIGHT_YEARS "2004-2008"
#define VER_LEGALCOPYRIGHT_STR   "\251 2004-2008, Vivante Corporation"
#define VER_FILETYPE             VFT_DRV
#define VER_FILESUBTYPE          VFT2_DRV_DISPLAY

#define VER_FILEDESCRIPTION_STR "Vivante Corporation OpenGL ES 1.1 Driver"
#define VER_INTERNALNAME_STR    "libGLESv1_CM.dll"

#include <Common.ver>
